<!-- controlliamo se ci sono messaggi di errore o di successo e li mostriamo -->
<% if(error && error.length){ %>
<h1 class="color-red"><%= error %></h1>
<% } %> <% if(success && success.length){ %>
<h1 class="color-green"><%= success %></h1>
<% } %>
