<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/wrapkit/css/style.css">
    <link rel="stylesheet" href="/warpkit/css/animate.css">
    <!-- 
      includiamo tutti i componenti che ci servono (css e js) per visualizzare le mappe e popolarle
      con le coordinate delle località dei posts, usando l'API di mapbox
    -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/searchAndFilter.css" />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/41db850298.js" crossorigin="anonymous"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js"></script>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container mt-3">
      <% include ../partials/flash-messages %> <%-
    body -%>
    

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/libs/jquery-3.4.1.slim.min.js"></script>
      <script src="/libs/popper.min.js"></script>
      <script src="/bootstrap4/js/bootstrap.min.js"></script>
      <script src="/wrapkit/js/custom.min.js"></script>
    
      <!-- carichiamo questo script solo se ci troviamo in index -->
      <% if(title==="Surf Store - Index"){ %>
      <script src="/javascripts/post-index.js"></script>
      <% } %>
    </div>
  </body>
</html>
