<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/wrapkit/css/style.css">
    <link rel="stylesheet" href="/warpkit/css/animate.css">
    <link rel="stylesheet" href="/stylesheets/starbility-basic.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/post-show.css" />
    <script src="https://kit.fontawesome.com/41db850298.js" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <% include ../partials/navbar %> <% include ../partials/flash-messages %>
    <div class="container">
      <%- body -%>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="/libs/popper.min.js"></script>
    <script src="/bootstrap4/js/bootstrap.min.js"></script>
    <script>
      const post = <%- JSON.stringify(post) %>;
    </script>
    <script src="/javascripts/post-show.js"></script>
  </body>
</html>
