<!-- 
    VIEW RENDERIZZATA DAL MIDDLEWARE BUILT-IN PER GESTIRE GLI ERRORI E VISUALIZZARE
    LE INFO RELATIVE AL ERRORE AVVENUTO.
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
