<% layout("layouts/boilerplate") -%>
<!-- 
    VIEW RENDERIZZATA DAL MIDDLEWARE BUILT-IN PER GESTIRE GLI ERRORI E VISUALIZZARE
    LE INFO RELATIVE AL ERRORE AVVENUTO.
-->
<div class="alert alert-danger" role="alert">
    <strong>Error: </strong>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
