<% layout("layouts/boilerplate.ejs") -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<!-- container della mappa con i cluster -->
<div id="map"></div>

<!-- SCRIPT DI CONFIGURAZIONE -->
<script>
  // setta il token di mapbox in questo modo possiamo usare l'API
  mapboxgl.accessToken = "<%= mapBoxToken %>";
  // crea un oggetto che contiene tutti i post in questo modo possiamo mostrarli facilemente nella mappa
  // (il codice per questo è scritto in un file esterno quindi nn possiamo usare ejs lì)
  /* i posts sono associati a features perché gli oggetti che rappresentano le località della mappa sono di
  tipo geoJSON cioè oggetti json formattati in modo da modellare una località sotto forma di un oggetto
  seguendo una specifica definita. */
  // negli oggetti geoJSON gli oggetti che definiscono una località sono associati a features in un oggetto
  // che li contiene
  var posts = {features: <%- JSON.stringify(posts) %>};
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>
