<% layout("layouts/boilerplate") -%>
<form action="/login" method="post">
  <div>
    <label for="username"></label>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="username"
      value="<%= username %>"
      required
    />
  </div>
  <div>
    <label for="password"></label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="password"
      required
    />
  </div>
  <input type="submit" />
</form>
<div>
  <a href="/forgot-password">Forgot Password?</a>
</div>
