@media only screen and (max-width: 992px){
    div>a{
        box-sizing: border-box;
        width: 90%;
        margin: auto 5%;
        padding: 20px 0 20px 0!important;
    }
}


@media only screen and (min-width: 992px){
    div>a{
        box-sizing: border-box;
        width: 40%;
        padding: 20px 0 20px 0!important;
    }
    a.btn-info{
        margin-right: 1%;
        margin-left: 9%;
    }
    a.btn-primary{
        margin-left: 1%;
    }
}

.image-container{
    height: 240px;
}

.card-img-top{
    max-height: 240px;
}