h1, h3, h2{
    color: whitesmoke;
}

#background-image { 
    background-image: url("/images/banner-bg.jpg");
    position: absolute;
    width: 100%;
    height: 170%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#map{
    opacity: 0.8;
}

.btn-outline-primary{
    color: #20A4F3;
    border-color: #20A4F3;
    background-color: transparent!important;;
}
.btn-outline-primary:hover{
    background-color: #20A4F3!important;
}

.btn-outline-info{
    color: #2EC4B6;
    border-color: #2EC4B6;
}
.btn-outline-info:hover{
    background-color: #2EC4B6;
}

@media only screen and (max-width: 992px){
    #background-image{
        height: 276%;
        background-repeat: repeat-y;

    }
    div>a{
        box-sizing: border-box;
        width: 90%;
        margin: auto 5%;
        padding: 20px 0 20px 0!important;
    }
}


@media only screen and (min-width: 992px){
    div>a{
        box-sizing: border-box;
        width: 40%;
        padding: 20px 0 20px 0!important;
    }
    a.btn-outline-info{
        margin-right: 1%;
        margin-left: 9%;
    }
    a.btn-outline-primary{
        margin-left: 1%;
    }
}

.image-container{
    height: 240px;
}

.card-img-top{
    max-height: 240px;
}