.logo {
  color: #fff;
}
.logo:hover {
  color: #fff;
}

/* stiliziamo il contenitore della mappa e i popup */
/* relativi alle mappe in index e landing (quelle con i cluster) */

#map {
  width: 100%;
  height: 630px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* colori dei flash messages */
.color-red {
  color: red;
}
.color-green {
  color: green;
}

/* solo per profile */
.fa-user{
  font-size: 200px;
}

.form-control{
  height: initial!important;
}