body{
  padding-top: 45px;
}

.cart-label{
  width: 75%!important;
}

.cart-trash{
  width: 25%!important;
}

.dropdown-menu{
  width: 100%!important;
}

#reset-cart-btn, #buy-btn{
  width: 45%;;
}

@media screen and (min-width: 1200px){
  .dropdown-menu{
    width: 300px!important;
  }
}


.logo {
  color: #fff;
}
.logo:hover {
  color: #fff;
}

/* stiliziamo il contenitore della mappa e i popup */
/* relativi alle mappe in index e landing (quelle con i cluster) */

#map {
  width: 100%;
  height: 665px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* colori dei flash messages */
.color-red {
  color: red;
}
.color-green {
  color: green;
}

/* solo per profile */
.fa-user{
  font-size: 200px;
}

.form-control{
  height: initial!important;
}

@media screen and (min-width: 576px){
  h2{
    font-size: 36px;
  }
}
@media screen and (max-width: 576px){
  h2{
    font-size: 1.5rem;
  }
}

.badge-success {
  display: inline-block;
}