<% layout("layouts/boilerplate") -%>
<form action="/posts" method="POST" enctype="multipart/form-data">
  <div class="row">
    <section class="col-12 col-md-6 offset-md-3">
      <h1 class="text-center my-5">Sell a Board</h1>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Title" name="post[title]" />
      </div>
      <div class="form-group">
        <input class="form-control" type="file" name="images" accept="image/*" multiple required/>
      </div>
      <div class="form-group">
        <input class="form-control" type="number" placeholder="Price" name="post[price]" step=".01" />
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          name="post[description]"
          placeholder="Description"
          id=""
          cols="30"
          rows="1"
        ></textarea>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Location" name="post[location]" />
      </div>
      <input class="btn btn-primary btn-block" type="submit" value="submit" />
    </section>
  </div>
</form>
